html{
    font-size: 62.5%;
}
h1,h2,h3{ color:map-get($map:$paleta, $key:bl );}

h1{
    font-size: $text_xl;
}
    h2{
        font-size:$text_md;
    }
        h3{
            font-size: $text_md;
        }
            h4{
            font-size: $text_sm;
            }
                h5{
                    font-size: $text_xs;
                }
p{
    font-size: $text_sm;
    /* estilo */
    color: map-get($map:$paleta, $key:bl);
    /* interliniado */
    line-height: $text_xl;
    /* sangría */
    text-indent: $text_sm
}

.text-style__tittle{
    text-align: $center;
    font-size: $text_xl;
    font-weight: $text_bold;
    margin: $m_2;
    padding: $p_3;
    }
    .text-style_p2{
        text-align: $center;
        font-size: $text_sm;
        margin:$m_2;
        padding: $p_3;
        color: map-get($map:$paleta, $key:gr );
        }

body{
    background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
}
footer {
    background-color: map-get($map:$paleta, $key:wr );
}
button{
    font-size: $text_sm;
    a{
        font-size: $text_sm;
    }
}