*{
    font-family: $main_font;
}
html{
    font-size: 62.5%;
}
h1,h2,h3{
    color:map-get($map:$paleta, $key:bl );
    /* font-family: 'Montserrat', sans-serif; */
}
h1{
    font-size: $text_xl;
}
    h2{
        font-size:$text_md;
    }
        h3{
            font-size: $text_md;
        }
            h4{
            font-size: $text_sm;
            }
                h5{
                    font-size: $text_xs;
                }
p{
    /* estilo */
    color: map-get($map:$paleta, $key:bl); font-family: $main_font;
    /* interliniado */
    line-height: $text_xl;
    /* sangría */
    text-indent: $text_sm
}

.text-style__tittle{
    text-align: $center;
    font-size: $text_xl;
    font-weight: $text_bold;
    margin: $m_2;
    padding: $p_3;
    }
    .text-style_p2{
        text-align: $center;
        font-size: $text_sm;
        margin:$m_2;
        padding: $p_3;
        color: map-get($map:$paleta, $key:gr );
        }

body{
    background: rgb(233,141,216);
    background: radial-gradient(circle, rgba(233,141,216,1) 4%, rgba(233,141,216,1) 10%, rgba(165,233,148,1) 49%, rgba(238,235,109,1) 74%, rgba(255,254,228,1) 89%);
}