header {
    img{
    width: 100%;
    height: auto;
    }
}
/* star nav */
nav{
    background-color: map-get($map:$paleta, $key:wr );
    padding: 20px;
    display: inline-block;
    img {
        width: 160px;
    }
    div {
        ul {
            li {
                list-style: $no;
                text-decoration: $no;
                font-size: $text_sm;
                a{
                    font-weight: $text_lg;
                    color:map-get($map:$paleta, $key:bl) !important;
                }
            &:hover{
                background-color:#f8b1cc;
                text-decoration: $no;
            }
            }
        }
    }
}
