// fonts_Textos
$text_xs: 1.4rem;
$text_sm: 1.6rem;
$text_md: 1.8rem;
$text_lg: 2.0rem;
$text_xl: 2.5rem;
$text_bold: bold;
$text_lg: 300;

//alineacion
$center: center;
$izq: start;
$der: end;
$no: none;


//Maps paleta de colores//
$paleta:(
        "1":#e2058d,
        "2":#f070a1,
        "3":#ca599b,
        "4":#fad8e9,
        "5":#f8b1cc,
        "6":#ee879d,
        "7":#e49ee0,
        "8":rgba(107, 3, 67, 0.8901960784),
        "bl":#161616,
        "wr":#fff,
        "gr":#555555,
        );

//widths
$w100: 100%;
$w90: 90%;
$w80: 80%;
$w70: 70%;
$w60: 60%;
$w50: 50%;

//heigth
$h_auto: auto;
$h_100: 100%;
$h_2: 2rem;
$h_v1: 1vh;

//padding
$p_3: 3rem;
$p_2: 2rem;

//margin
$m_2: 2rem;
$m_3: 3rem;
$m_4: 4rem;

//display
$flex: flex;
$grid: grid;

//direcciones
$col: column;
$fila: row;